<!doctype html>
<html lang="en-US" style="height:95%;">
<head>
    {% load static %}
    <title>VISEE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
</head>
<style>
	#logo {
        height: 100%;
        background-image: url("{% static 'images/logo.png' %}") !important;
        background-size: 300px !important;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        padding-bottom: 50px;
    }
</style>
<body>
    <div id="overlay"></div>
    <div id='crop-img-zone'>
        <div id='crop-img-zone-header'>
            <div id="title">Crop image</div>
			<div id="close-button">&times;</div>
        </div>
        <div id='crop-img-zone-body'>
            <div style="display: flex; justify-content: space-between;">
                <div style="display: flex;">
                        <input type="file" name="search_text" style="max-width: 85px; font-size: 13px;" onchange="previewImage(event)">
                    <div id="crop_button"></div>
                </div>
                <div id="submit-crop"></div>
            </div>
            <div align="center">
                <div id="image-field"></div>
				<img src="#" id="target" style="max-height: 380px; max-width: 450px;" />
			</div>
        </div>
    </div>
    <div id="header" style="height: 80px;  margin: 0; align-items: center; margin-top: 130px;">
        <div id="logo" style="text-align: center;" align="center">
        </div>
        <div align="center" id="sz">
            <div align="center" style="border: 1px solid rgba(190, 190, 190, 0.548); height: 40px; border-radius: 45px; width: 580px; max-width: 100%; display: flex; align-items: center; justify-content: space-between;">
                <form action="" method="post" id="text_f" name="text_search_form">
                    {% csrf_token %}
                    <input type="hidden" name="engine" value="text">
                    <input
                        name="search_text"
                        id="text_search_id"
                        style="width: 75%;
                        margin: 0px 10px 0px 20px;
                        font-size: 16px;"
                    >
                </form>
                <div align="center" style="display: flex; margin: 0px 20px 0px 10px;">
                    <div id='ims'></div>
                    <div id='sbt'></div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="modal">
		<div class="modal-header">
			<div class="title">Crop image</div>
			<button data-close-button class="close-button">&times;</button>
		</div>
		<div class="modal-body">
			<input type="file" onchange="previewImage(event)">
			<button id="crop_button">Crop</button>
			<input type="submit">
			<div id="image-field">
				<img src="#" id="target" style="max-width: 400px; max-height: 400px;" />
			</div>

		</div>
	</div>
    <footer>&copy;2019 DIMEST</footer>
    <script>
        $('#ims').click(function () {
            $('#overlay').addClass('active');
            $('#crop-img-zone').addClass('active');
        })

        $('#close-button').click(function() {
            $('#overlay').removeClass('active');
            $('#crop-img-zone').removeClass('active');
        })

        $("#sbt").click(function () {
            console.log()
            if ($('#text_search_id').val().trim() == "")
                alert("Search something");
            else
                $('#text_f').submit();
        });
    </script>
    <script src="{% static 'js/image-clipper.js' %}"></script>
    <script src="{% static 'js/crop_image.js' %}"></script>
</body>
</html>
