<!doctype html>
<html lang="en-US">

<head>
    {% load static %}
    <title>VISEE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'css/singlePageTemplate.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/autocomp.css' %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.Jcrop.css' %}" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" />

    <script src="{% static 'source-sans-pro:n2:default.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.Jcrop.min.js' %}"></script>
    <script src="{% static 'js/jquery.autocomplete.js' %}"></script>
    <script src="{% static 'js/topkcomp.js' %}"></script>

</head>
<style>
    #logo {
        /*height: 100%;*/
        background-image: url("{% static 'images/logo.png' %}") !important;
        background-size: 300px !important;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        /*padding-bottom: 50px;*/
    }
</style>

<body>
    <div id="overlay"></div>
    <div id='crop-img-zone'>
        <div id='crop-img-zone-header'>
            <div id="title">Crop image</div>
            <div id="close-button">&times;</div>
        </div>
        <form action="" method="post" onsubmit="return checkCrop();">
            <div id='crop-img-zone-body'>
                <div style="display: flex; justify-content: space-between;">
                    {% csrf_token %}
                    <input type="hidden" name="engine" value="visual">
                    <input type="hidden" name="base64_img" id="b64_img" value="">
                    <div style="display: flex;">

                        <input type="file" name="file" style="max-width: 85px; font-size: 13px;" onchange="previewImage(event)">
                        <div id="crop_button"></div>
                    </div>
                    <button id="submit-crop" type="submit"></button>
                </div>
                <div>
                    <div id="image-field"></div>
                    <img src="#" id="target" style="max-height: 380px; max-width: 450px;" onerror="arguments[0].currentTarget.style.display='none'"  alt=""/>
                </div>
            </div>
        </form>
    </div>
    <div align="center"  id="header" style="height: 60vh; align-items: center;">
        <div id="logo" style="text-align: center; height: 50%; margin-top: 20vh; padding-bottom: 0;"></div>
        <div id="sz">
            <div style="border: 1px solid rgba(190, 190, 190, 0.548); height: 40px; border-radius: 45px; width: 580px; max-width: 100%; display: flex; align-items: center; justify-content: space-between;">
                <form action="" method="post" id="text_f" name="text_search_form" style="width: 100%">
                    {% csrf_token %}
                    <input type="hidden" name="engine" value="text">
                    <label for="autocomplete"></label>
                    <input type="text"  name="search_text" id="autocomplete" style="width: 99%;
                        margin-left: 3%;
                        padding-left: 1%;
                        font-size: 16px;">
                    <div id="query_time"></div>
                </form>
                <div style="display: flex; margin: 0 20px 0 10px;">
                    <div id='ims'></div>
                    <div id='sbt'></div>
                </div>

            </div>
        </div>
    </div>

    <script>
        $('#ims').click(function() {
            $('#overlay').addClass('active');
            $('#crop-img-zone').addClass('active');
        });

        $('#close-button').click(function() {
            $('#overlay').removeClass('active');
            $('#crop-img-zone').removeClass('active');
        });

        $("#sbt").click(function() {
            console.log();
            if ($('#text_search_id').val().trim() === "")
                alert("Search something");
            else
                $('#text_f').submit();
        });
    </script>
    <script src="{% static 'js/image-clipper.js' %}"></script>
    <script src="{% static 'js/crop_image.js' %}"></script>
</body>
<footer class="l_footer" style="height: 4vh;">&copy;2019 DIMEST</footer>

</html>
